body {
  font-family: 'Segoe UI', sans-serif;
  background: url('1.png') center center fixed;
    background-size: cover;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
}

h1 {    
    font-family: 'Orbitron', serif;
    color: #ff0228;
    font-size: 300%;    
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px black, 0 0 10px black;
}

.timer {
  font-family: 'Orbitron', serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(19, 255, 27);
  padding: 10px 50px;
  background: rgba(0, 0, 0, 0.506);
  border-radius: 8px;
  
  /* Position: High-Right */
  position: fixed;
  top: 6%;                  /* distance from the top */
  right: 6%;                /* distance from right border */
  
  display: flex;
  align-items: center;      /* vertical centering */
  justify-content: center;  /* horizontal centering */

  /* Number centering */
  width: 100px;
  height: 60px;
  line-height: 60px;
}


.question {
    font-family: 'Orbitron', serif;
    font-size: 180%;
    color: rgb(212, 0, 255);
  background: rgba(242, 255, 0, 0.6);
  padding: 25px;
  margin: 20px;
  margin-bottom: 8%;
  border-radius: 12px;
  border-left: 6px solid rgba(212, 0, 255, 0.6);
}

.options {
  display: grid;
  font-weight: bold;
  grid-template-columns: repeat(2, 1fr);
  gap: 8%;
  justify-items: center;
  margin: 0 auto;
  width: 100%;
}

.options label {
  font-family: 'Orbitron', serif;
  display: block;
  padding: 20px;
  background: #fbff2b;
  color: rgb(212, 0, 255);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.1em;
  width: 100%;
  text-align: center;
}


.options label:hover {
  background-color: #d6e104;
    color: #fbff2b;
}

.options input[type="radio"]  {
  display: none;
  margin-right: 12px;
}

.options input[type="radio"]:checked + label {
  color: #fbff2b;
  background: rgb(212, 0, 255);
}

.progress {
  height: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  margin: 20px 0;
}

.progress-bar {
  height: 100%;
  background: #ff0228;
  border-radius: 5px;
  width: 0%;
  transition: width 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.message {
  background: #7fff7f82; 
  border: 2px solid #7fff7f;       
  border-radius: 20px;          
  padding: 20px 40px;     
  text-align: center;        
  color: black; 
  font-weight: bold;
  font-size: 20px;                   
  font-family: 'Orbitron', sans-serif;
  width: fit-content;
  margin: 20px auto;            
  box-shadow: 0 0 15px rgba(127, 255, 127, 0.3); 
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  white-space: pre-line;
}

.message:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px rgba(127, 255, 127, 0.5);
}

h2{

    font-family: 'Orbitron', serif;
    font-size: 50px;
    text-align: center;
    color: #00b3ff;
    margin-bottom: 15px;
    text-shadow: 0 0 5px rgb(255, 89, 0), 0 0 20px black, 0 0 40px black;
}