flask
flask-cors
python-dotenv
uvicorn[standard]
xrpl-py
pymongo
passlib[bcrypt]
python-jose[cryptography]
jose
passlib
fastapi
dotenv

# fastapi
# uvicorn[standard]
# pymongo
# python-dotenv
# xrpl-py
# passlib[bcrypt]
# python-jose[cryptography]
# pyjwt